@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Poppins', Sans-Serif;
  /*font-family: 'DotGothic16', SSans-Serif*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
}
.container {
  width: 340px;
  margin: 0.3rem auto;
}
.content {
  width: 100%;
  margin: 0 auto;
}
table {
  border: 1px solid #000;
  padding: 0.2rem;
  margin-top: ;
}
th {
  border: 1px solid #000;
  text-align: center;
  padding: 0.25rem;
  margin: 0.2rem;
}
td {
  border: 1px solid #000;
  text-align: center;
  padding: 0.25rem;
  margin: 0.2rem;
  color: green;
}
.serial_text {
  margin-bottom: 0.4rem;
  font-weight: 600;
  padding: 0.3rem;
}
.serial_text_number {
  color: green;
  font-weight: 800;
}
.input-section {
  margin: 0 auto 1rem;
}
input {
  padding: 0.5rem;
  margin: 1rem o.7rem 0 0;
  outline: none;
  border: 1px solid #000;
  width: 58%;
  font-weight: 600;
  color: green;
}
input::placeholder {
  font-weight: 500;
}
input:focus {
  box-shadow: 1px 1px 6.5px #008000;
  border-color: green;
}
.generate {
  padding: 0.5rem 0.7rem;
  font-weight: 600;
  outline: none;
  margin-left: 0.4rem;
  background: green;
  color: #fff;
  border: none;
  cursor: pointer;
}
.reload {
  outline: none;
  border: none;
  background: rgb(0,204,255);
  color: #fff;
  font-weight: 600;
  padding: 0.35rem 0.6rem;
  margin-top: 1rem;
  margin-left: 1rem;
  visibility: hidden;
  cursor: pointer;
}
.time {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.65rem;
  font-weight: 600;
}
.gen-text {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 700;
}
.print {
  margin-top: 1rem;
  visibility: hidden;
  outline: none;
  border: none;
  background-color: cornflowerblue;
  color: #fff;
  padding: 0.35rem 0.6rem;
  cursor: pointer;
  font-weight: 600;

}
.serial-notifier-add {
  color: #fff;
  background-color: red;
  padding: 0.3rem;
  width: 86.2%;
  margin-left: 0;
}
.error-input {
  box-shadow: 1px 1px 6.5px red;
  border-color: red;
}
